@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}

.main {
  margin: 0;
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  grid-template-areas:
    "header header header header header header header header header header header header"
    "menu menu menu menu menu menu menu menu menu menu menu menu"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  grid-template-columns: repeat(1fr);
  &__article {
    grid-area: menu;
    grid-column: 4/9;
    grid-row: 2/3;
  }
  &__textarea {
    resize: none;
    border-radius: 16px;
    width: 374px;
    height: 212px;
  }
}

.button {
  width: 50px;
  text-align: left;
  &__save {
    grid-column: 4/5;
  }
  &__load {

  }
}

.buttons {

}

.submit{
text-align: right;
}